
.linkButton {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  padding: 0.5rem 0.8rem;
  background-color: #f8f83b;
  color: #020202;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 600;
}

.linkButton:hover {
  background-color: #e5ff26;
}